anyio==4.7.0
certifi==2024.12.14
colorama==0.4.6
decorator==5.1.1
ffmpeg-python==0.2.0
future==1.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
moviepy==2.1.1
numpy==2.2.1
pillow==10.4.0
proglog==0.1.10
python-dotenv==1.0.1
python-telegram-bot==21.9
setuptools==75.6.0
six==1.17.0
sniffio==1.3.1
tqdm==4.67.1
typing_extensions==4.12.2
whisper==1.1.10
